.header {
  width: 100vw;
  background-color: var(--gray-800);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
}

.header img {
  height: 2rem;
}

.header strong {
  margin-left: 0.5rem;
  font-size: 1.25rem;
}